#da-debug-toolbar {
  border: 0;
  margin: 0;
  padding: 0 30px 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1A2A40;
  box-shadow: -1px 1px 6px 1px rgba(0,0,0,0.46);
  font: normal 12px Arial;
  color: #EBF4F7;
}

#da-debug-toolbar.da-toolbar-closed {
  width: 0;
  height: 36px;
  left: unset;
  border-top-left-radius: 5px;
  overflow: hidden;
}

#da-debug-toolbar .da-toolbar-block {
  position: relative;
  height: 36px;
  max-width: 400px;
  padding: 0 8px;
  cursor: pointer;
  white-space: nowrap;
}

#da-debug-toolbar .da-toolbar-block .da-toolbar-status { padding: 4px 5px; }

#da-debug-toolbar .da-toolbar-block .da-toolbar-status-success { background-color: #3e963f; }

#da-debug-toolbar .da-toolbar-block .da-toolbar-status-failure { background-color: #E00B27; }

#da-debug-toolbar .da-toolbar-block:hover { background-color: #2474A6; position: relative; }

#da-debug-toolbar .da-toolbar-block .da-toolbar-value { line-height: 36px; }

#da-debug-toolbar .da-toolbar-block .da-toolbar-value i.fa { margin-right: 5px; }

#da-debug-toolbar .da-toolbar-block .da-toolbar-value .crm-logo-sm {
  background: url('/sites/all/modules/civicrm/i/logo_sm.png') no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

#da-debug-toolbar .da-toolbar-block-left { float: left; }

#da-debug-toolbar .da-toolbar-block-right { float: right; }

#da-debug-toolbar .da-toolbar-block .da-toolbar-details {
  display: none;
  position: absolute;
  bottom: 36px;
  padding: 5px;
  background-color: #2474A6;
}

#da-debug-toolbar .da-toolbar-block .da-toolbar-details a {
  color: #00fbff;
  text-decoration: underline;
}

#da-debug-toolbar .da-toolbar-block .da-toolbar-details a:hover { text-decoration: none; }

#da-debug-toolbar .da-toolbar-block-left .da-toolbar-details { left: 0; }

#da-debug-toolbar .da-toolbar-block-right .da-toolbar-details { right: 0; }

#da-debug-toolbar .da-toolbar-block:hover .da-toolbar-details { display: block; }

#da-debug-toolbar .da-toolbar-block .da-toolbar-details table {
  margin: 0;
  border: 0;
  font-size: inherit;
}

#da-debug-toolbar .da-toolbar-block .da-toolbar-details tbody { border: 0; }

#da-debug-toolbar .da-toolbar-block .da-toolbar-details tr {
  border: 0;
  background-color: inherit;
}

#da-debug-toolbar .da-toolbar-block .da-toolbar-details tr td {
  border: 0;
  padding: 6px;
  line-height: normal;
  color: #EBF4F7;
  background-color: inherit;
}

#da-debug-toolbar .da-toolbar-block .da-toolbar-details tr td:first-child {
  font-weight: bold;
  color: rgba(235, 244, 247, .8);
}

#da-debug-toolbar .da-toolbar-toggle-button {
  width: 30px;
  height: 36px;
  right: 0;
  position: fixed;
  color: #EBF4F7;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  background-color: #2474A6;
}

#da-debug-toolbar .da-toolbar-open-button { display: none }

#da-debug-toolbar.da-toolbar-closed .da-toolbar-open-button { display: block }

#da-debug-toolbar.da-toolbar-closed .da-toolbar-close-button { display: none }
